body{
  font-size:14px;
  line-height:16px;
  font-weight:regular;
  font-family:"PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}
.interested{
  font-size:30px;
  line-height:34px;
  color:rgb(0,0,0);
  font-weight:normal;
  font-family:PT Sans;
}
.infrastructure{
  font-size:16px;
  line-height:19px;
  color:rgb(255,255,255);
  font-weight:bold;
  font-family:PT sans;
}

html,
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.main-navigation a {
  display: block;
  font-weight: bold;
  color: rgb(0,0,0);
  text-decoration: none;
}
.main-navigation a:hover {
  color: rgb(129,179,210);
}


.main-navigation ul {
padding-left: 73px;
padding-top: 16px;

  list-style: none;
  font-size: 0;

}
.main-navigation li {
  display: inline-block;
  width:20%;
  font-size: 14px;
  line-height: 16px;
  vertical-align: top;
}

.container {
  width: 1200px;
  margin: 0 auto;

}
.start-Sedona{
  font-size: 21px;
  line-height: 23px;
  font-weight: bold;
  margin: 62px 378px;
}
.main-header{
  position: relative;
  color:rgb(255, 255, 255);
}
.hotel-nav{
  text-align: right;

}
.map-nav{
  margin-left: 270px;
}
.main-logo{
  position: absolute;
  width:138px ;
  height: 70px;
  margin-left: 530px;
}

.main-navigation {
  width: 1200px;
  min-height: 56px;

}

.slogan{
  margin-left: 312px;
  padding-left: 59px;
  padding-top: 75px;
}
  .hero{
    width:1200px;
    background: url("../img/background.jpg") no-repeat center top;
  }

  .hero::after {
content: "";
background-image: url("../img/mask.png");
display: block;
width: 1200px;
height: 57px;
vertical-align: bottom;

}
.feautures{
width:1200px;
}
.mini-features-name{
  float:left;
  width:400px;
  height:275px;
  background:rgb(255,255,255);
}
.mini-features-name b{
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
}

.features-item-house::before{
  content: "";
  background-image: url("../img/house.png");
  display: block;
  width: 75px;
  height: 72px;
  vertical-align: center ;
  margin-top: ;
}
.features-item-food::before{
  content: "";
  background-image: url("../img/food.png");
  display: block;
  width: 74px;
  height: 71px;
  vertical-align: center ;
  margin-top: ;
}
.features-item-souvenirs::before{
  content: "";
  background-image: url("../img/souvenirs.png");
  display: block;
  width: 64px;
  height: 76px;
  vertical-align: center ;
  margin-top: ;
}
.features-name{
  float:left;
  width:400px;
  height:256px;
  color:rgb(255,255,255);
  background: rgb(129,179,210);
  text-align: center;
  box-sizing: border-box;
}

.features-name b,
.features-name-bridge b{
  display: block;
  line-height: 23px;
  font-size:21px;
  font-weight: bold;
  margin: 49px;
}

.gallery{
  float:right;
  width:800px;
  height:256px;
  margin-right: 0;
  margin-left: 0;
}
.gallery-bridge{
  float:left;
  width:800px;
  height:256px;

}
.gallery-content,
.gallery-content-bridge{
  margin:0;

}
.features-name-bridge{
  float:right;
  width:400px;
  height:256px;
  color:rgb(255,255,255);
  background: rgb(129,179,210);
  text-align: center;
  box-sizing: border-box;
}

.features-catalog{
  float:left;
  width:400px;
  height: 257px;
  background:rgb(238,238,238);
  text-align: center;
}
.features-catalog b{
  font-weight: bold;
  font-size: 21px;
  line-height: 23px;
}




.info{
  position: relative;
}
.interested{
    font-size:30px;
    line-height:35px;
    color:rgb(0,0,0);
    font-weight: bold;
    font-family:PT Sans;
}
.info b{
display: block;
width:567px;
height:86px;
margin: 0 316px;
padding-top: 30px;
box-sizing: border-box;
background: rgb(118,99,87);
color: rgb(255, 255, 255);
text-align: center;
font-size: 21px;
line-height: 26px;
font-weight: bold;

box-sizing: border-box;
}
.date label,
.people-number label{
color: rgb(0,0,0);
font-size: 14px;
line-height: 17px;
font-weight: bold;
}
.date-request{
  position: absolute;
  width: 567px;
  height:395px;
  padding: 54px;
  background:rgb(255,255,255);
  position: absolute;
  left: 316px;
  box-sizing: border-box;
}

.date-check-in input[type="text"],
.date-check-out input[type="text"] {
  position: relative;
  width:346px;
 margin: 0;
 margin-bottom: 10px;
 padding: 10px 15px;
 padding-right: 30px;
 background: rgb(242,242,242);
box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0,0,0);
  text-transform: uppercase;
  border:none;
}
.calendar-btn{
  position: absolute;
  background-image: url("../img/cal.png");
  right:315px;
  top:6px;
}
.date-request .btn{
  background: rgb(129,179,210);
width: 458px;
height:60px;
padding-right:195px;
padding-left:195px;
border:none;
}
.btn-adults input[type="text"],
.btn-child input[type="text"] {
  width:117px;
 height:38px;
 background: rgb(242,242,242);
box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: rgb(0,0,0);
  text-transform: uppercase;
  border:none;
}
.btn-adults{
}




.filter{
  background-image: url("../img/filter-background.png");
height:218px;
}
.infrastructure-form{
  float: left;
  width:244px;
  color:rgb(255,255,255);

}
.house-form{
  float: left;
  width:288px;
  color:rgb(255,255,255);
}
.price-request-form{
    float: right;
  width:328px;
  color:rgb(255,255,255);
}
.infrastructure-form legend,
.house-form legend,{
  font-weight: bold;
}
.price-request-form legend{
  margin-bottom: 9px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
}
.price-control{
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid rgb(255,255,255);
  border-radius: 2px;
  font-size: 0;
  position: relative;
}
.price-control input{
  display:inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height:26px;
  vertical-align: top;
  cursor: pointer;
  width:50px;
  padding-left: 65px;
  margin:0;
  border: none;
  outline:none;
  background: none;
  color:rgb(255,255,255);
}
.price-control::after{
  content: "";
  position: absolute;
  top:50%;
  left:50%;
  width: 2px;
  height:22px;
  background: rgb(255,255,255);
  transform: translate(-50%, -50%);
}
.slider{
  position: relative;
  margin-bottom: 32px;
}
.scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.bar {
  width: 80%;
  height: 2px;
  background: rgb(255,255,255);
}
.slider-control{
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  }
  .slider-control-min{
    left:0;
  }
  .slider-control-max{
    left:80%;
  }
  .slider-control:hover{
    background: #1c4f80;
  }
  .btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}
.item-catalog{
  width: 1056px;
  padding-top: 29px;
  padding-bottom: 30px;
  background-color: green;
}
.image{
  float: left;
  width: 135px;
  height: 90px;
  background-color: yellow;
}
.hotel{
  float: left;
  width: 152px;
  background-color: red;
}
.rating{
  float: right;
  width: 241px;
  background-color: orange;
}
.footer{
  position: absolute;
  background: rgba(255,255,255,0.9);
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.footer-contacts {
  float: left;
  width: 400px;
  min-height: 120px;
  padding-top: 46px;
  font-size: 21px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
}
.footer-social {
  float: left;
  width: 400px;
  min-height:120px;
  padding-top: 36px;

  text-align: center;
}

.social-btn{
  width: 48px;
  height: 48px;
  display: inline-block;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background-color: rgb(129,179,210);
}
.social-btn-twitter{
  background-image: url("../img/tw.png");
  background-repeat:no-repeat;
  background-position:center;
}
.social-btn-facebook{
  background-image: url("../img/fb.png");
  background-repeat:no-repeat;
  background-position:center;
}
.social-btn-youtube{
  background-image: url("../img/youtube.png");
  background-repeat:no-repeat;
  background-position:center;
}
.footer-copyright {
  float: right;
  width: 400px;
  min-height: 120px;
  padding-top: 35px;
  text-align: center;

}
.btn-html{
  display: inline-block;
  width: 113px;
  height: 39px;
  display: inline-block;
  font-size: 0;
  vertical-align: center;
  text-decoration: top;
  background-image: url("../img/html-academy.png");
}
